
body{
    margin : 0px;
}
.HomeHead{
    font-size: 2em;
    color: black;
    text-align: center;
    
}

.HomeNav ul{

    background-color: hsl(0, 0%, 25%);
    list-style-type: none;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.HomeNav a{
    border : 1px solid black;
    text-decoration: none;
    display : block;
    padding : 10px;
    color: white;
}
.HomeNav a:hover{
    background-color: hsl(0, 0%, 9%);

}

.logo {
  width: 20px;
  height: 20px;
  background-color: #b1f6ff;
  transform: rotate(45deg);
  margin-right: 10px;
}